.contenido-5{
    grid-area: contenido-5;
    margin-top: 100px;
    padding: 1em
    
    

}
.redes1{
    list-style-type: none;.redes3{
        text-decoration: none;
        margin-right: 31px;
        .redes3{
            text-decoration: none;
            margin-right: 31px;}
            .face{
                width: 35px;
                height: 35px;
                
            
            }
            .insta{
                width: 35px;
                height: 35px;
                
            }
            
        
        
        
    }

}




   
