
.redes1{
        list-style-type: none;
        text-decoration: none;
        margin-right: 31px;
    .redes3{
         text-decoration: none;
         margin-right: 31px;}
    .face{
         width: 35px;
         height: 35px;}
    .insta{
        width: 35px;
        height: 35px;}
            
 }






   
