*{
    margin: 0%;
    padding: 0%;
}html{
    
    font-family: Ghotic Arial, Helvetica, sans-serif;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    background-image: linear-gradient( to top right,#0F2027, #203A43,#2C5364);
    
}


