.contenido-2{
    grid-area: contenido-2;
    background-color: linear-gradient( to top right,#0F2027, #203A43,#2C5364);
    
   

    .nav-link
    {
        color: gold;
        font-size: small;
        font-weight: lighter;
        text-decoration: none;}
    
    @media(min-width:500px)
    {
    .nav-link{
        font-size: large;}
        
    }


}

    
