h1{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;}
h2{ font-size: small;color: $p;}
h3{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;font-size: large;color: $color;}
h4{margin-bottom: 20px;font-weight: bolder;font-size: medium;}

p{color: black; margin-top: 40px;}
.servicios{margin-left: 80px; margin-right: 80px; color: $p}  
.cita{font-style: italic; color: $p; margin-bottom: 40px;margin-top: 4%;}
.proyectoUno{margin-right: 20px; margin-left: 20px; font-size: medium;
strong{color: lightslategrey;}}
.blog{ margin-left: 20px; margin-right: 20px;}





   

